<!-- products.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarządzanie produktami - Nazwa Sklepu</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .opis-produktu {
          display: none; /* Ukryj opis początkowo */
        }

        .pokaz-opis {
          cursor: pointer;
          color: blue;
          text-decoration: underline;
        }
      </style>
      <script>
        function pokazOpis(id) {
          var opisElement = document.getElementById(id);

          if (opisElement.style.display === 'none') {
            opisElement.style.display = 'block';
          } else {
            opisElement.style.display = 'none';
          }
        }
      </script>
</head>
<body>

<header>
    <%- include('header', locals) %>
</header>

<main>
    <section class="product-list">
        <h2>Produkty</h2>
                <button onclick=<%= `window.location.href='/dodaj-produkt'` %>>Dodaj nowy produkt</button>

            <% result.rows.forEach(r => { %>
                <div class="product">
                    <h3> <%= r.name %> </h3>
                    <p>Cena: <%= r.price %></p>

                    <p class="pokaz-opis" onclick="pokazOpis('<%= r.id %>')">Opis produktu</p>
                    <div class="opis-produktu" id='<%= r.id %>'>
                        <p><%= r.description %></p>
                    </div>

                    <button onclick=<%= `window.location.href='/edytuj-produkt/${r.id}'` %>>Edytuj</button>
                    <button onclick=<%= `window.location.href='/usun-produkt/${r.id}'` %>>Usuń</button>
                </div>
            <% }); %>

    </section>
</main>

<footer>
    <p>&copy; 2024 Nazwa Sklepu. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>
