<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkty - Nazwa Sklepu</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .opis-produktu {
          display: none;
        }

        .pokaz-opis {
          cursor: pointer;
          color: blue;
          text-decoration: underline;
        }
      </style>
      <script>
        function pokazOpis(id) {
          var opisElement = document.getElementById(id);

          if (opisElement.style.display === 'none') {
            opisElement.style.display = 'block';
          } else {
            opisElement.style.display = 'none';
          }
        }
      </script>
</head>
<body>

<header>
    <%- include('header', locals) %>
</header>

<main>
    <section class="product-list">
        <h2>Zamówienia</h2>

        <% for (let i = 0; i < result.length; i++) { %>
          <% if(result[i].rows.length > 0) { %>
            <h3>ID klienta: <%= result[i].rows[0].userid %></h3>
          <% } %>
            <% result[i].rows.forEach(r => { %>
                <div class="product">
                    <h3> <%= r.name %> </h3>
                    <p>Cena: <%= r.price %></p>
                    <% if( r.status === 'in cart') { %>
                        <p>Status: w koszyku</p>
                    <% } else { %>
                        <p>Status: zakupiono</p>
                    <% } %>
                    <!-- <p class="pokaz-opis" onclick="pokazOpis('<%= r.id %>')">Opis produktu</p>
                    <div class="opis-produktu" id='<%= r.id %>'>
                        <p><%= r.description %></p>
                      </div> -->
                </div>
            <% }); %>
        <% } %>
    </section>
</main>

<footer>
    <p>&copy; 2024 Nazwa Sklepu. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>
